
*, *::before, *::after {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

body {
    --hue:var(--hue-neutral);
    background: white;
    flex-wrap: wrap;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
}
/*.container {
    flex-wrap: wrap;
    display: flex;
    height: auto;
    width: 80%;
    margin: auto;
    padding: 10px;
    position: absolute;
} */
/* landing-section */

.title {
    font-size: 1.5rem;
    font-weight: bold;
    height: 60px;
    width: 80%;
    border-bottom: 10px;
    align-items: center;
    display: inline-block;
    padding: 10px 35px;
}

#start {
 /*   display: none; */
    height: auto; 
    width: 800px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    cursor: pointer;
}

#start-btn {
    background: indigo;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 15px 30px;
    margin: 30px;
    text-align: center;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    outline: none;
    cursor: pointer;
} 

#start-btn:hover {
    background-color: rgb(118, 22, 187);
}

/* quiz section */
.quiz-container {
    display: none; 
    height: 500px; 
    width: 800px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
}
.quiz-header {
    padding: 2rem;
}
ul {
    list-style-type: none;
    padding: 0;

}
ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}
ul li label {
    cursor: pointer;
}
li  {
    background: indigo;
    color: white;
    height: 45px;
    width:fit-content;
    border: none;
    border-radius: 5px;
    
}
li:hover {
    background: rgb(118, 22, 187) ;
}
.timer {
    height: 50px;
    width: 120px;
    font-size: 18px;
    display: flex;    
    align-items: flex-end;    
}
.quiz_header h3 {
   font-size: 25px;
   padding: none; 
}

.btn {
    background-color: indigo;
    color: white;
    border-radius: 5px;
    border: 1px solid hsl(var(--hue), 100%, 30%);
    padding: 5px 10px;
    margin: 0 10px;
    justify-content: auto;
    outline: none;
    height: 45px;
    width: fit-content;
}
.btn:hover {
    background-color: rgb(118, 22, 187);
}
.divided {
    padding-top: 15px;
    border-bottom: 1px solid black;
}
#answerSection {
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    height: 60px;
    
}
#total_correct {
    width: 120px;
    display: none
}
#next {
    width: 100px;
    cursor: pointer;
}
/* result section */
#submit {
    display: none;  
    height: 300px; 
    width: 800px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}

#submit_btn {
    background: indigo;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 100px;
}
#submit_btn:hover {
    background: rgb(118, 22, 187);
    color: white;
}
#submit h4 {
    font-size: 18px;
    padding: 20px;
}
/*input {
    height: 35px;
    box-shadow: 0 0 10px 1px;
} */

/* High Score Section */
.high-score {
    font-size: 25px;
}

#result {
    display: none; 
    height: 300px;
    width: 800px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;       
}

#points {
    height: 35px;
    width: 70%;
} 
.endGame-btn {
    justify-content: space-between;
    padding-top: 30px;
    margin: 10px;
}
#startAgain,
#quit {
  
    height: 45px;
    width: 150px;
}
